# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore Dockerfile and .dockerignore
Dockerfile
.dockerignore

# Ignore any other files that are not needed in the Docker image
src/**/*.test.js
src/**/*.spec.js
src/**/*.map
README.md